


# ignore environment files
.env
docker/.env
# Pyt
__pycache__/
*.pyc
.venv/
.env
.env.*
# Node / Extension
node_modules/
dist/
# OS/editor
.DS_Store
*.log
.idea/
.vscode/
# Docker
pgdata/

venv/
__pycache__/
*.pyc
.Pipfile.lock
.env


docker/.env



# Python virtual environments
venv/
.venv/

.pyc
__pycache__